[submodule "raindance"]
	path = raindance
	url = https://github.com/ThibaultReuille/raindance.git
[submodule "graphiti"]
	path = graphiti
	url = https://github.com/ThibaultReuille/graphiti.git
[submodule "semanticnet"]
	path = semanticnet
	url = https://github.com/ThibaultReuille/semanticnet.git
